<div class="photo-frame-container">
    <img 
        tabindex="0"
        class="photo"
        [alt]="description"
        [src]="src" 
    >
    <div class="like-bar">
        <app-like-widget
            [likes]="likes"
            (liked)="like()"
        >            
        </app-like-widget>
    </div>
</div>